@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
  text-decoration: none;
  color: black;
 


}
div{
    font-family: "Roboto Condensed", sans-serif;
    
}

h1{
    font-size: xx-large;
    font-family: "Mystery Quest", system-ui;

}


